body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

img {
    width: 150px;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
}

label, input {
    display: block;
    margin: 0 auto;
}

p  {
    font-style: italic;
}