body {
    background-image: url(zigzag-seamless.jpg);
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

img {
    width: 150px;
    height: auto;
}

h1 {
    color: black;
    -webkit-text-stroke: 1px white;
    text-align: center;
    font-size: 40px;
}

fieldset {
    background-color: rgba(1, 1, 1, 0.5);
    backdrop-filter: blur(10px);
}

label {
    text-align: left;
    display: block;
    width: 250px;
    margin: 0 auto;
}

input {
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
}

p  {
    font-style: italic;
}